body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
p,a{
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #203161;
}
h1,h2,h3,h4,h5{
  font-family: 'Monad', sans-serif;
}
.container-fluid{
  margin: 0;
  padding: 0;
}
/*
============================================================================================
1. header
============================================================================================
*/
header{
  background-color: #303044;
}
header .header-content{
  margin: 0px 30px 0px 30px;
}
header .header-content .logo{
  width: 100px;
  height: 100px;
}
header .header-content .logo img{
  max-width: 100%;
  height: auto;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  transition: color 0.5s;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #32439B;
}
/*
============================================================================================
2. slider
============================================================================================
*/
.carousel-section .carousel-item{
  height: 30vh;
  min-height: 450px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.carousel-inner {
  background-color: #203161;
}
/*carousel image*/
.d-block.w-100 {
  opacity: 0.6;
}

.carousel-control-prev {
  margin-left: 15px;
}
.carousel-control-next {
  margin-right: 15px;
}
.carousel-control-prev, .carousel-control-next {
  height: 35px;
  width: 3%;
  border: 1px solid #fff;
  margin-top: 15%;
  transition: opacity 300ms ease-out;
}
.carousel-caption{
  bottom: 180px;
}

.carousel-btn-container {
  display: block;
  margin-top: 30px;
  width: auto;
}

.carousel-btn-container a {
  text-decoration: none;
  color: #fff;
}
.btn-carousel {
  text-transform: uppercase;
  padding: 12px;
  font-size: 0.9em;
  border: 2px solid #fff;
  transition: background-color 0.6s;
  font-weight: 500;
  margin: 5px;
}
.btn-carousel:hover {
  background-color: #206131;
  border: none;
  padding: 14px;
}
/*
============================================================================================
3. section Evenement
============================================================================================
*/
.section-evenement {
  /*background-color: #F2F2F2;*/
  overflow: hidden;
}
.section-evenement-title {
  padding: 40px;
  color: #878383;
  text-align: center;
  padding-bottom: 30px;
}
.block-article {
  color:#272727;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 0px;
  padding: 20px 85px 20px 85px;
}
.block-article .article {
  border-radius: 0px;
  border: 0px;
  margin-bottom: 25px;
}
.card-container {
  background:#fff;
  transition: margin-top 0.5s;
}
.card-container:hover {
  margin-top: -10px;
}
.card .card-img {
  height: 220px;
  overflow: hidden;
}
.block-article .article img {
  transition: transform 0.5s;
  max-width: 100%;
  height: auto;
}
.block-article .card-body, .block-article .card-img{
  background-color: #F2F2F2;
  text-align: center;
}
.block-article .card-body h5 {
  color: #203161;
}
.btn-article a {
  text-decoration: none;
  font-size: 1.1em;
  border-bottom: 2px solid #203161 ;
  transition: color 0.6s;
}
.btn-article a:hover {
  color: #206131;
}

/*
============================================================================================
4. parallax
============================================================================================
*/
.parallax {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.parallax-article {
  background-color:rgba(32,97,49, 0.6);
  height: 100%;
  bottom: 0px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax-card-text {
  width: 70%;
  color: #fff;
  text-align: center;
}

/*
============================================================================================
5. section form
============================================================================================
*/
.form-section{
  height: 450px;
  width: 100vw;
  background-color: #206131;
}
/*
============================================================================================
6. section partner
============================================================================================
*/
.partner-section{
  margin: 30px;
}
.partner-section img{
  max-width: 85px;
  min-height: 85px;
  border: 2px solid #206131;
  transition: transform 0.5s;
}
.partner-section img:hover{
  opacity: 0.8;
  transform: scale(1.1);
  background-color: #206131;
}
.partner-img{
  display: flex;
  justify-content: center;
}
.partner-section-title {
  padding: 8px 0px 20px 0px;
  color: #878383;
  text-align: center;
  padding-bottom: 30px;
}
/*
============================================================================================
6. section partner
============================================================================================
*/
.galerie{
  margin: 30px;
}
.galerie img{
  max-width: 150px;
  height: auto;
  transition: transform 0.5s;
}
.galerie-section-title {
  padding: 8px 0px 20px 0px;
  color: #878383;
  text-align: center;
  padding-bottom: 30px;
}
.galerie-img{
  display: flex;
  justify-content: center;
}