body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
p,a{
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #203161;
}
h1,h2,h3,h4,h5{
  font-family: 'Monad', sans-serif;
}
.container-fluid{
  margin: 0;
  padding: 0;
}
/*
============================================================================================
1. header
============================================================================================
*/
header{
  background-color: #303044;
}
header .header-content{
  margin: 0px 30px 0px 30px;
}
header .header-content .logo{
  width: 100px;
}
header .header-content .logo img{
  max-width: 100%;
  height: auto;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  transition: color 0.5s;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #32439B;
}
/*
============================================================================================
2. slider
============================================================================================
*/
.carousel-section .carousel-item{
  height: 30vh;
  min-height: 450px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.carousel-inner {
  background-color: #203161;
}
/*carousel image*/
.d-block.w-100 {
  opacity: 0.6;
}

.carousel-control-prev {
  margin-left: 15px;
}
.carousel-control-next {
  margin-right: 15px;
}
.carousel-control-prev, .carousel-control-next {
  height: 35px;
  width: 3%;
  border: 1px solid #fff;
  margin-top: 15%;
  transition: opacity 300ms ease-out;
}
.carousel-caption{
  bottom: 180px;
}

.carousel-btn-container {
  display: block;
  margin-top: 30px;
  width: auto;
}

.carousel-btn-container a {
  text-decoration: none;
  color: #fff;
}
.btn-carousel {
  text-transform: uppercase;
  padding: 12px;
  font-size: 0.9em;
  border: 2px solid #fff;
  transition: background-color 0.6s;
  font-weight: 500;
  margin: 5px;
}
.btn-carousel:hover {
  background-color: #206131;
  border: none;
  padding: 14px;
}
/*
============================================================================================
3. section Evenement
============================================================================================
*/
.section-evenement {
  /*background-color: #F2F2F2;*/
  overflow: hidden;
}
.section-evenement-title {
  padding: 40px;
  color: #878383;
  text-align: center;
  padding-bottom: 30px;
}
.block-article {
  color:#272727;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 0px;
  padding: 20px 85px 20px 85px;
}
.block-article .article {
  border-radius: 0px;
  border: 0px;
  margin-bottom: 25px;
}
.card-container {
  background:#fff;
  transition: margin-top 0.5s;
}
.card-container:hover {
  margin-top: -10px;
}
.card .card-img {
  height: 220px;
  overflow: hidden;
  border-radius: 0;
}
.block-article .article img {
  transition: transform 0.5s;
  max-width: 100%;
  height: auto;
}
.block-article .card-body, .block-article .card-img{
  background-color: #F2F2F2;
  text-align: center;
}
.block-article .card-body h5 {
  color: #203161;
}
.btn-article a {
  text-decoration: none;
  font-size: 1.1em;
  border-bottom: 2px solid #203161 ;
  transition: color 0.6s;
}
.btn-article a:hover {
  color: #206131;
}

/*
============================================================================================
4. parallax
============================================================================================
*/
.parallax {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.parallax-article {
  background-color:rgba(32,97,49, 0.6);
  height: 100%;
  bottom: 0px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax-card-text {
  width: 70%;
  color: #fff;
  text-align: center;
}

/*
============================================================================================
5. section form
============================================================================================
*/
.form-section{
  padding: 20px 85px 20px 85px;
}
.form-container{
  background-color: #eee;
  height: 450px;
}
/*
============================================================================================
6. section partner
============================================================================================
*/
.partner-section{
  margin: 30px;
}
.partner-section img{
  max-width: 85px;
  min-height: 85px;
  border: 2px solid #206131;
  transition: transform 0.5s;
}
.partner-section img:hover{
  opacity: 0.8;
  transform: scale(1.1);
  background-color: #206131;
}
.partner-img{
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}
.partner-section-title {
  padding: 8px 0px 20px 0px;
  color: #878383;
  text-align: center;
  padding-bottom: 30px;
}
/*
============================================================================================
6. section galerie
============================================================================================
*/
.galerie{
  margin: 30px;
}
.galerie img{
  max-width: 100%;
  height: auto;
  transition: transform 0.5s;
}
.galerie .galerie-img .block-img{
  background-color: #206131;
  overflow: hidden;
}
.galerie img:hover{
  transform: scale(1.3)  rotate(10deg) ;
  opacity: 0.3;
}
.galerie-section-title {
  padding: 8px 0px 20px 0px;
  color: #878383;
  text-align: center;
  padding-bottom: 30px;
}
.galerie-img{
  display: flex;
  justify-content: center;
  padding: 0px 5px 0px 5px;
  height: 150px;
  overflow: hidden;
  background-size: cover;
  position: relative;
}
.galerie-btn{
  position: absolute;
  width: 150px;
  bottom: -50px;
  right: 0px;
  border: 2px solid #fff;
  padding: 10px;
  text-align: center;
  transition: bottom 0.5s;
}
.galerie-btn:hover{
  border-color: #206131;
}
.galerie-img:hover > .galerie-btn{
  bottom: 0px;
  right: 4px;
}
.galerie-btn a{
  text-decoration: none;
  color:#fff;
  font-size: 1.1em;
}
.owl-nav span {
  color: green;
  font-size: 1.5em;
  width: 20px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #fff !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #203161;
}
.owl-theme .owl-dots .owl-dot span {
  background: #203161;
}
/*
============================================================================================
7. Footer
============================================================================================
*/
footer{
  background-color: #303044;
  padding: 0;
  height: auto;
}
.footer-logo{
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}
.footer-logo-card{
  width: 60%;
  height: 250px;
}
.footer-logo img{
  max-width: 100%;
  height: auto; 
}
.footer-text{
  color: #fff;
  padding: 20px;
  font-weight: 500;
  font-size: 1.1em;
}
.footer-menu{
  padding: 20px;
  text-align: center;
}
.footer-menu .footer-content .nav-link {
  color: #fff;
  font-size: 0.9em;
  line-height: normal;
  text-transform: uppercase;
  transition: color 0.5s;
}
.footer-menu .footer-content .nav-link:hover {
  color: #32439B;
}
footer .signature-container {
  background-color: #0c0938;
  padding: 10px;
  height: 48px;
  color: #9b9b9b;
}
footer .footer-social .footer-social-content{
  padding: 25px 0px;
  font-family: "FontAwesome";
  font-size: 1.6em;
  text-align: center;
}
footer .footer-social .footer-social-content a{
  text-decoration: none;
  color: #fff;
  transition: color 0.5s;
}
footer .footer-social .footer-social-content a:hover{
  color: #203161;
}
footer .signature-container a {
  color: #4d648d;
}
/*
===========================================================================================
8. Single style
===========================================================================================
*/
.page-section{
  padding: 30px 30px 30px 65px;
}
.page-title{
  color: #878383;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.page-content .card-body{
  padding: 0px 10px 0px 20px;
}
.page-content .card-body h4{
  color: #203161;
}
.page-section .page-content .card-img{
  overflow: hidden;
  padding: 0px;
}
.page-section .page-content .single.card-img img{
  transition: transform 0.5s;
}
.page-section .page-content .single.card-img img:hover{
  transform: scale(1.1);
}
/*
===========================================================================================
9. Sidebar style
===========================================================================================
*/
.sidebar-container{
  overflow: hidden;
}
.sidebar-content{
  border: 1px solid #ecedf1;
  border-radius: 5px;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
  padding-top: 0;
  transition: box-shadow 0.5s
}
.sidebar-content:hover{
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.07);
}
.sidebar-content h5{
  color: #878383;
}
.sidebar-content ul li {
  list-style-type: none;
  line-height: 2.2rem;
}
.sidebar-content ul li a{
  text-decoration: none;
  color: #206131;
  font-weight: 500;
  transition: color 0.5s;
}
.sidebar-content ul li a:hover{
  color: #203161;
}
/*
===========================================================================================
10. Archive style
===========================================================================================
*/
.archive-article{
  border: none;
  text-align: center;
  border-radius: 0px;
  padding-bottom: 15px;
}
.archive-article .card-container{
  background-color: #F2F2F2;
}
.archive-article .card-container .card-img{
  border-radius: 0px;
}
.archive-article .card-container .card-body{
  padding: 15px;
}
/*
===========================================================================================
Media queries
===========================================================================================
*/
/*screen resolution <= 1024 */
@media screen and (max-width: 1024px) {
  /*
  * Slide
  */
  .carousel-control-prev, .carousel-control-next {
    margin-top: 22%;
  }
  .carousel-caption h1{
    font-size: 2rem;
  }
  /*
  * block article
  */
  .block-article {
    padding-right: 60px;
  }
  .card .card-img {
    height: 200px;
  }
   /*
  * Parallax
  */
  .parallax-card-text {
    width: 90%;
  }
}
/*screen resolution <= 960 */
@media screen and (max-width: 960px) {
  /*
  * block article
  */
  .block-article {
    padding-left: 60px;
  }
    /*
  * Galerie
  */
  .galerie-img {
    height: 140px;
    margin-bottom: 10px;
  }
  /*
  * Sidebar style
  */
  .sidebar-content{
    margin-left: 0px;
    padding-left: 0px;
  }
  .sidebar-container{
    margin-left: 0px;
    padding-left: 0px;
  }
}

/*screen resolution <= 720 */
@media screen and (max-width: 720px) {
  .carousel-section .carousel-item {
    min-height: 300px;
  }
  .carousel-control-prev, .carousel-control-next {
    margin-top: 15%;
    width: 5%;
  }
  .carousel-caption{
    bottom: 90px;
  }
  .carousel-caption h1{
    font-size: 1.7rem;
  }
  /*
  * block article
  */
  .block-article .article{
    padding-right: 0px;
  }
  .block-article {
    padding-right: 45px;
  }
  /*
  * Parallax
  */
  .parallax-card-text h2{
    font-size: 1.7rem;
  }
  /*
  * Galerie
  */
  .galerie-img {
    height: 100px;
    margin-bottom: 10px;
  }
  .galerie .galerie-img .block-img {
    background-color: #fff;
  }
  .galerie img:hover{
    transform: inherit;
    opacity: 1;
  }
  .galerie-btn {
    bottom: 20px;
    border: none;
  }
  .galerie-img:hover > .galerie-btn {
    bottom: 20px;
    right: 0;
  }
  /*
  * Single style
  */
  .page-content .card-body{
    padding: 10px 0px 0px 0px;
  }
}
/*screen resolution <= 540 */
@media screen and (max-width: 540px) {
  .carousel-section .carousel-item {
    min-height: 200px;
  }
  .carousel-caption{
    bottom: 20px;
  }
  .carousel-caption h1{
    font-size: 1.2rem;
  }
  .btn-carousel {
    padding: 8px;
    font-size: 0.7em;
  }
  .carousel-caption .btn-carousel.btn-1{
    display: none;
  } 
  .carousel-control-prev, .carousel-control-next {
    margin-top: 25%;
    border: none;
  }
  /*
  * block article
  */
  .block-article .article{
    padding-left: 0px;
  }
  .block-article {
    padding-right: 20px;
    padding-left: 50px;
  }
  /*
  * Single style
  */
  .page-section{
    padding: 30px 30px 30px 30px;
  }
}